apiVersion: v2
name: truvami-stack
description: A Helm chart for Kubernetes
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.231

# Each truvami application has it's own chart and can be deployed independently.
# This chart is a parent chart that deploys all the truvami applications.
dependencies:
  - name: truvami-gateway
    version: 0.0.32
    repository: "file://../truvami-gateway"
    condition: truvami-gateway.enabled
  - name: truvami-bridge
    version: 0.1.38
    repository: "file://../truvami-bridge"
    condition: truvami-bridge.enabled
  - name: truvami-api
    version: 0.0.33
    repository: "file://../truvami-api"
    condition: truvami-api.enabled
  - name: truvami-decoder
    version: 0.0.22
    repository: "file://../truvami-decoder"
    condition: truvami-decoder.enabled
  - name: truvami-dashboard
    version: 1.0.12
    repository: "file://../truvami-dashboard"
    condition: truvami-dashboard.enabled
  - name: truvami-monitoring
    version: 0.2.6
    repository: "file://../truvami-monitoring"
    condition: truvami-monitoring.enabled
  - name: truvami-siren
    version: 0.2.12
    repository: "file://../truvami-siren"
    condition: truvami-siren.enabled
  - name: truvami-docs
    version: 0.1.6
    repository: "file://../truvami-docs"
    condition: truvami-docs.enabled
