name: Semantic PR Title

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  semantic:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            ci
            chore
          requireScope: false
          wip: true
